<div class="parentDiv">
  <div class="form-row">
    <div
      class="form-group col-md-12"
      style="color: Red; text-align: center; line-height: 1"
    >
      <b
        >Currency Rate 1 Indian Rupees in USD : {{ usd }}$ | EURO : {{ euro }} |
        UK Dollar : {{ uk }}</b
      >
    </div>
    <div class="form-group col-md-1">
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <input
        type="text"
        style="margin-top: 5px; width: 10vw; height: 30px; font-size: 12px"
        id="filter-text-box"
        placeholder="Type in to Search..."
        (change)="onFilterTextBoxChanged()"
      />
    </div>

    <div
      class="form-group col-md-1"
      style="background-color: slategray; margin-left: 4%"
    >
      <label class="label" for="bap"> BuyAvgPx </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        [(ngModel)]="bap"
        id="bap"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="sap"> SellAvgPx </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="sap"
        [(ngModel)]="sap"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="buyValue"> BuyVal </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="buyValue"
        [(ngModel)]="buyValue"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="sellValue"> SellVal </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="sellValue"
        [(ngModel)]="sellValue"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="buyQty"> BuyQty </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="buyQty"
        [(ngModel)]="buyQty"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="sellQty"> SellQty </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="sellQty"
        [(ngModel)]="sellQty"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="totalNetQty"> NetQty </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="totalNetQty"
        [(ngModel)]="totalNetQty"
      />
    </div>
    <div class="form-group col-md-1" style="background-color: slategray">
      <label class="label" for="pnl"> NetVal </label>
      <input
        type="text"
        readonly
        class="form-control-plaintext label-text"
        id="pnl"
        [(ngModel)]="pnl"
      />
    </div>

    <div class="col-md-2" style="margin-left: 20px">
      <div class="row">
        <div
          class="form-group col-md-4"
          style="
            background-color: slategray;
            padding-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <label class="label" for="tradesCount"> Trades Count </label>
        </div>

        <div
          class="form-group col-md-4"
          style="
            background-color: slategray;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <input
            type="text"
            readonly
            class="form-control-plaintext label-text"
            id="tradesCount"
            [(ngModel)]="tradesCount"
          />
        </div>
        <div class="form-group col-md-4">
          <button
            title="Download as csv"
            (click)="onBtnExport()"
            class="csvExport"
          >
            <img
              src="assets/images/csv.png"
              style="border: none; height: 40px; width: 40px"
            />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="card mt-4"
    style="box-sizing: border-box; margin: -5px !important"
  >
    <ag-grid-angular
      [gridOptions]="gridOptions"
      style="height: 85vh"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowHeight]="rowHeight"
      [pagination]="true"
      [paginationPageSize]="100"
      [getRowStyle]="getRowStyle"
      (gridReady)="onGridReady($event)"
      (firstDataRendered)="onFirstDataRendered($event)"
      (filterChanged)="onFilterChanged($event)"
    >
    </ag-grid-angular>
  </div>
  <br />
</div>
