<!-- nav -->
<nav
  class="navbar navbar-expand-md navbar-light bg-light"
  style="color: black; font-weight: bold; font-family: Verdana"
  *ngIf="currentUser"
>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <img
          class="img-responsive"
          src="assets/images/BlotterGray.PNG"
          style="
            width: 190px;
            height: 35px;
            margin-left: 15px;
            border-radius: 10px;
          "
        />
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLink="/dashboard"
          [routerLinkActive]="['active']"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLink="/home"
          [routerLinkActive]="['active']"
          >Trades</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLink="/net-position-view"
          [routerLinkActive]="['active']"
          >Positions</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLink="/arbitrage-position"
          routerLinkActive="['active']"
          >Arbitrage Positions</a
        >
      </li>
      <li class="nav-item dropdown"  *ngIf="authenticationService.roleId && authenticationService.roleId=='1'">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
          >UserManagement</a
        >
        <ul class="dropdown-menu">
          <li>
            <a
              class="nav-item nav-link"
              routerLink="/user"
              [routerLinkActive]="['active']"
              >CreateUser</a
            >
          </li>
          <li>
            <a
              class="nav-item nav-link"
              routerLink="/manage-user"
              [routerLinkActive]="['active']"
              >ManageUser</a
            >
          </li>
          <li>
            <a
              class="nav-item nav-link"
              routerLink="/client-dealer-mapping"
              [routerLinkActive]="['active']"
              >Client-Dealer-Mappping</a
            >
          </li>
        </ul>
      </li>
      <!-- <li  class="nav-item" *ngIf="authenticationService.roleId && authenticationService.roleId=='1'">
                <a class="nav-item nav-link" routerLink="/user" [routerLinkActive]="['active']">CreateUser</a>
            </li> -->
      <!-- <li class="nav-item" *ngIf="authenticationService.roleId && authenticationService.roleId=='1'">
                <a class="nav-item nav-link" routerLink="/manage-user" [routerLinkActive]="['active']">ManageUser</a>
            </li> -->
      <!-- <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/client-dealer-mapping" [routerLinkActive]="['active']">Client-Dealer-Mappping</a>
            </li>                        -->
      <li class="nav-item">
        <a class="nav-item nav-link ml-auto" href="#" (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item mr-auto">
        <!--<a class="nav-item nav-link ml-auto" >{{authenticationService.userLogin}}</a>-->
      </li>
      <li class="nav-item">
        <img
          class="img-responsive"
          src="assets/images/image1.png"
          style="width: 190px; height: 35px; margin-left: 35px"
        />
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container" style="float: left">
  <router-outlet></router-outlet>
</div>
