.parentDiv
{
    position: absolute;
    width: 90vw;
    margin-left: 40px;
    margin-top: 20px;
    font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}

.div1
{
    background-color: white;
}


.textBox
{
    width: 400px;
    height: 60px;
    border-radius: 10px;
}

.login
{
    width: 400px;
    height: 60px;
    background-color: red;
   border: none;
   border-radius: 10px;
}