.parentDiv
{
    position: absolute;
    width: 90%;
    margin-left:40px;
}

.label
{
    font-size: 10px;
    text-align: center;
}

.label-text
{
    font-size: 10px;
    height: 18px;
    margin-left: -5;
    padding: -5;
    border: 1px;
}