
<div *ngIf="loading" class="spinner-border spinner-border-sm" ></div>
<input type="text" style="margin-top: 10px" id="filter-text-box" placeholder="Search..." (change)="onFilterTextBoxChanged()">
<div style="margin-top:15px; float: right">
<ul *ngIf="users" >
   <h6> 
       <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
    </h6>
</ul>    
</div>
<br/>

<div class="card mt-4">
    <ag-grid-angular
    [gridOptions]="gridOptions"
    style="width: 100%; height: 800px;"
    class="ag-theme-alpine "
    [rowData]="rowData "
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowHeight]="rowHeight"   
    [pagination]=true
    [paginationPageSize]= 35    
    (gridReady)="onGridReady($event)"                   
    (firstDataRendered)="onFirstDataRendered($event)"
    >
</ag-grid-angular>
</div>

