.parentDiv
{
    position: absolute;
    width: 95%;
    margin-left:40px;
}

.label
{
    font-size: 9px;
    color: black;
    font-weight: bold;
    padding-left: 3%;
}

.label-text
{
    font-size: 9px;
    height: 18px;
    margin-left: -5;
    padding: -5;
    outline: none;
    font-weight: bold;
}

.csvExport
{
    float: right; 
    outline:none;
    border-width: 0px; 
    background-color:white
}