@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
    @include ag-theme-alpine((
        odd-row-background-color: lightgray                                  
    ));    
}


.ag-theme-alpine .ag-row {
    font-size: 10px !important;
    font-family: 'Open Sans';
    font-weight: bold;
}

.ag-row .ag-cell {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .ag-theme-alpine .ag-header {
    // or write CSS selectors to make customisations beyond what the parameters support
    text-align: center;
    background-color: black;
    
}

.ag-theme-alpine .ag-header-cell-label {
    display: flex;
    justify-content: left;
    align-items: center;
color: white;
font-size: 11px !important;
}


.action-button {
    border: none;
    color: white;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.7;
  }
  
  .action-button:hover {
    opacity: 1;
  }
  
  .action-button.edit {
    background-color: #008cba; /* Blue */
  }
  .action-button.update {
    background-color: #4caf50; /* Green */
  }
  
  .action-button.delete {
    background-color: #f44336; /* Red */
  }
  
  .action-button.cancel {
    background-color: #e7e7e7; /* Gray */
    color: black;
  }

  