.userControl
{
height:30px
}

.dropdown
{
width:120px;
}

.parentDiv
{
    position: absolute;
    width: 90%;
    margin-left:40px;
    font-family: Verdana;
}

.cardDiv
{
    width: 50%;
}

.gridDiv
{
    width:80%
}

.grid
{
    height: 40vh;
}