.userControl
{
height:30px
}

.dropdown
{
width:120px;
}

.parentDiv
{
    position: absolute;
    width: 90%;
    margin-left:40px;
    line-height: 0.8;
}

.cardDiv
{
    width: 50%;
}

.gridDiv
{
    width:80%
}

.grid
{

}